{{#link-to 'team.project.explore'}}<span class="icon-arrow-left back-button"></span>{{/link-to}}
<ol class="breadcrumb">
  <li><a href="#">OS</a></li>
  <li class="active">MacOS</li>
</ol>
<div class="row">
    <div class="col-sm-9">
        <ul class="events">
            <li class="event">
                <div class="pull-right">
                    <div class="btn-group">
                      <!-- <button type="button" class="btn btn-sm btn-default btn-white">Resolved</button> -->
                      <button type="button" class="btn btn-sm btn-default btn-white dropdown-toggle" data-toggle="dropdown">
                        <span class="icon-arrow-down"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Bookmark</a></li>
                        <li><a href="#">Create GitHub issue</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Remove from Sentry</a></li>
                      </ul>
                    </div>
                </div>
                <div class="count">209</div>
                <div class="details">
                    <h3>{{#link-to 'team.project.group' }}sentry.tasks.email in process_inbound_email{{/link-to}}</h3>
                    <p class="message">Inbound email from unknown address: kunal.kukreja@joshworkz.com</p>
                    <div class="meta">
                        <time>3 days ago</time>
                        <a href="note-count">3 notes</a>
                    </div>
                </div>
            </li>
            <li class="event">
                <div class="pull-right">
                    <div class="btn-group">
                      <!-- <button type="button" class="btn btn-sm btn-default btn-white">Resolved</button> -->
                      <button type="button" class="btn btn-sm btn-default btn-white dropdown-toggle" data-toggle="dropdown">
                        <span class="icon-arrow-down"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Bookmark</a></li>
                        <li><a href="#">Create GitHub issue</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Remove from Sentry</a></li>
                      </ul>
                    </div>
                </div>
                <div class="count">209</div>
                <div class="details">
                    <h3>{{#link-to 'team.project.group' }}sentry.tasks.email in process_inbound_email{{/link-to}}</h3>
                    <p class="message">Inbound email from unknown address: kunal.kukreja@joshworkz.com</p>
                    <div class="meta">
                        <time>3 days ago</time>
                        <a href="note-count">3 notes</a>
                    </div>
                </div>
            </li>
            <li class="event">
                <div class="pull-right">
                    <div class="btn-group">
                      <!-- <button type="button" class="btn btn-sm btn-default btn-white">Resolved</button> -->
                      <button type="button" class="btn btn-sm btn-default btn-white dropdown-toggle" data-toggle="dropdown">
                        <span class="icon-arrow-down"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Bookmark</a></li>
                        <li><a href="#">Create GitHub issue</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Remove from Sentry</a></li>
                      </ul>
                    </div>
                </div>
                <div class="count">209</div>
                <div class="details">
                    <h3>{{#link-to 'team.project.group' }}sentry.tasks.email in process_inbound_email{{/link-to}}</h3>
                    <p class="message">Inbound email from unknown address: kunal.kukreja@joshworkz.com</p>
                    <div class="meta">
                        <time>3 days ago</time>
                        <a href="note-count">3 notes</a>
                    </div>
                </div>
            </li>
            <li class="event">
                <div class="pull-right">
                    <div class="btn-group">
                      <!-- <button type="button" class="btn btn-sm btn-default btn-white">Resolved</button> -->
                      <button type="button" class="btn btn-sm btn-default btn-white dropdown-toggle" data-toggle="dropdown">
                        <span class="icon-arrow-down"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Bookmark</a></li>
                        <li><a href="#">Create GitHub issue</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Remove from Sentry</a></li>
                      </ul>
                    </div>
                </div>
                <div class="count">209</div>
                <div class="details">
                    <h3>{{#link-to 'team.project.group' }}sentry.tasks.email in process_inbound_email{{/link-to}}</h3>
                    <p class="message">Inbound email from unknown address: kunal.kukreja@joshworkz.com</p>
                    <div class="meta">
                        <time>3 days ago</time>
                        <a href="note-count">3 notes</a>
                    </div>
                </div>
            </li>
            <li class="event">
                <div class="pull-right">
                    <div class="btn-group">
                      <!-- <button type="button" class="btn btn-sm btn-default btn-white">Resolved</button> -->
                      <button type="button" class="btn btn-sm btn-default btn-white dropdown-toggle" data-toggle="dropdown">
                        <span class="icon-arrow-down"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Bookmark</a></li>
                        <li><a href="#">Create GitHub issue</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Remove from Sentry</a></li>
                      </ul>
                    </div>
                </div>
                <div class="count">209</div>
                <div class="details">
                    <h3>{{#link-to 'team.project.group' }}sentry.tasks.email in process_inbound_email{{/link-to}}</h3>
                    <p class="message">Inbound email from unknown address: kunal.kukreja@joshworkz.com</p>
                    <div class="meta">
                        <time>3 days ago</time>
                        <a href="note-count">3 notes</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-sm-3">
        <table class="table table-striped table-borderless">
            <tbody>
                <tr>
                    <td><strong>Key</strong></td>
                    <td class="align-right">OS</td>
                </tr>
                <tr>
                    <td><strong>First seen</strong></td>
                    <td class="align-right">July 29, 2013</td>
                </tr>
                <tr>
                    <td><strong>Last seen</strong></td>
                    <td class="align-right">yesterday</td>
                </tr>
                <tr>
                    <td><strong>Other values</strong></td>
                    <td class="align-right">3</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
